<div class="reservation container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
            <div class="card m-5">
                <div class="card-header">
                    Réservez votre chauffeur VTC en ligne
                </div>
                <div class="card-body">
                    {{ flash('success')|raw }}
                    {{ flash('error')|raw }}
                    {{ form.start|raw }}
                    {% if session.id_em is defined %}
                        <div class="col-md-12">
                            <p class="alert alert-info">
                                <a href="" class="w3-bar-item w3-button w3-padding">Vous êtes
                                    connecté en tant qu'Admin<span class="w3-hide-small">istrateur</span>.</a><br/>
                                <a href=""
                                   class="w3-hide-small w3-bar-item w3-button w3-padding">Déconnexion</a>
                            </p>
                        </div>
                    {% endif %}
                    <div class="col-md-6 form-group">
                        <label for="depart">Adresse de départ</label>
                        {{ form.elements.depart|raw }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="arrival">Adresse de destination</label>
                        {{ form.elements.arrival|raw }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="dateDepart">Date de prise en charge</label>
                        {{ form.elements.dateTransfer|raw }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="timeDepart">Heure de prise en charge</label>
                        {{ form.elements.timeTransfer|raw }}
                    </div>
                    <div class="col-sm-12">
                        <div class="d-flex justify-content-between">
                            <div class="custom-control custom-radio custom-control-inline">
                                {{ form.elements.carId.radio(0)|raw }}
                                <label class="custom-control-label" for="berline-car">
                                    <img src="{{ asset('view/images/berline.png') }}" alt="Berline">
                                    <span class="w3-padding">
                                        4x <i class="fa fa-user"></i>
                                        3x <i class="fa fa-briefcase"></i>
                                      </span>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {{ form.elements.carId.radio(1)|raw }}
                                <label class="custom-control-label" for="van-car">
                                    <img src="{{ asset('view/images/van.png') }}" alt="Van">
                                    <span class="w3-padding">
                                        4x <i class="fa fa-user"></i>
                                        3x <i class="fa fa-briefcase"></i>
                                      </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-dark">ESTIMEZ LA COURSE</button>
                    </div>
                    {{ form.end|raw }}
                </div>
            </div>
        </div>
    </div>
</div>