{% extends 'admin/base.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/menu.html.twig' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex flex-column justify-content-between pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card text-white bg-danger mb-3">
                                <div class="card-header">Demain</div>
                                <div class="card-body">
                                    {{ count.tomorrow }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card text-white bg-warning mb-3">
                                <div class="card-header">Après-demain</div>
                                <div class="card-body">
                                    {{ count.afterTomorrow }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">Réservations</div>
                                <div class="card-body">
                                    {{ count.all }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card text-white bg-success mb-3">
                                <div class="card-header">Total</div>
                                <div class="card-body">
                                    {{ count.price }} €
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Liste des réservations</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <table id="reservations" class="table">
                                <thead>
                                <tr>
                                    <th>Référence</th>
                                    <th>Client</th>
                                    <th>Départ</th>
                                    <th>Arrivée</th>
                                    <th>Date du transfert</th>
                                    <th>Heure du transfert</th>
                                    <th>Prix</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/datatables/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/datatables/datatables/media/js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(function () {
            $('#reservations').DataTable({
                "language": {
                    "url": "{{ asset('view/json/French.json') }}"
                },
                "ajax": "{{ route('admin/reservations/data') }}",
                "columns": [
                    {"data": "reference",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            var url = '{{ route("admin/bon/reservation_id") }}';
                            url = url.replace("reservation_id", oData.reference);
                            $(nTd).html("<a target=\"_blank\" href="+ url +">"+oData.reference+"</a>");
                        }
                    },
                    {"data": "client"},
                    {"data": "depart"},
                    {"data": "arrival"},
                    {"data": "dateTransfer"},
                    {"data": "timeTransfer"},
                    {"data": "price"}
                ],
                "order": [[ 3, 'desc' ]]
            });
        });
    </script>
{% endblock %}