{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin/menu.html.twig' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <h2>Mes paramètres</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            {{ form.start|raw }}
                            {{ flash.get('success')|raw }}
                            {{ flash.get('error')|raw }}
                            <div class="form-group">
                                <label for="society">Société</label>
                                {{ form.elements.society|raw }}
                                {{ form.error('society')|raw }}
                            </div>
                            <div class="form-group">
                                <label for="numberSociety">Numéro de société</label>
                                {{ form.elements.numberSociety|raw }}
                                {{ form.error('numberSociety')|raw }}
                            </div>
                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                {{ form.elements.phone|raw }}
                                {{ form.error('phone')|raw }}
                            </div>
                            <div class="form-group">
                                <label for="link">Url du site</label>
                                {{ form.elements.link|raw }}
                                {{ form.error('link')|raw }}
                            </div>
                            <div class="form-group">
                                <label for="email">Email de la société</label>
                                {{ form.elements.email|raw }}
                                {{ form.error('email')|raw }}
                            </div>
                            <div class="form-group">
                                <label for="address">Adresse de la société</label>
                                {{ form.elements.address|raw }}
                                {{ form.error('address')|raw }}
                            </div>
                            <button class="btn btn-success btn-lg btn-block submit" type="submit">Enregistrer</button>
                            {{ form.end|raw }}
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
