{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                {% include 'information.html.twig' %}
                <div id="mapsDevis"></div>
                <p class="text-center"><b>*ITINERAIRE INDICATIF </b></p>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Informations</h4>
                {{ form.start|raw }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Prénom</label>
                            {{ form.elements.firstName|raw }}
                            {{ form.error('firstName')|raw }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Nom</label>
                            {{ form.elements.lastName|raw }}
                            {{ form.error('lastName')|raw }}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            {{ form.elements.mail|raw }}
                        </div>
                        {{ form.error('mail')|raw }}
                    </div>

                    <div class="mb-3">
                        <label for="phone">Téléphone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fa fa-mobile"></span></span>
                            </div>
                            {{ form.elements.phone|raw }}
                        </div>
                        {{ form.error('phone')|raw }}
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="passengers">Passagers</label>
                            {{ form.elements.passengers|raw }}
                            {{ form.error('passengers')|raw }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="vol">Numéro de vol (si nécéssaire)</label>
                            {{ form.elements.vol|raw }}
                            {{ form.error('vol')|raw }}
                        </div>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Paiement</h4>
                    <p class="payment-errors alert alert-warning" style="display:none;"></p>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            {{ form.elements.methodPayment.radio(0)|raw }}

                            <label class="custom-control-label" for="money">Paiement à bord</label>
                        </div>
                        <div class="custom-control custom-radio">
                            {{ form.elements.methodPayment.radio(1)|raw }}
                            <label class="custom-control-label" for="credit">Carte bancaire</label>
                        </div>
                    </div>
                    <div id="Payment-card" style="display:none;">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="tel" class="form-control" id="cc-number" placeholder="" data-stripe="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-mm">Expiration</label>
                                <input type="text" class="form-control" id="cc-mm" placeholder="" data-stripe="exp_month" maxlength="2">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-yy">&nbsp;</label>
                                <input type="text" class="form-control" id="cc-yy" placeholder="" data-stripe="exp_year" maxlength="2">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="cc-cvc">CVV</label>
                                <input type="text" class="form-control" id="cc-cvc" placeholder="" data-stripe="cvc" maxlength="4" >
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-success btn-lg btn-block submit" type="submit">Continue ({{ reservation.price }}€)</button>
                {{ form.end|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery-validation/jquery-validation/src/core.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key={{ param('key.google') }}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        $(document).ready(function () {

            $("input[name='methodPayment']").change(function () {
                $target = $('#Payment-card');
                if (this.value === '1') {
                    $('#cc-number, #cc-mm, #cc-yy,#cc-cvc').prop('required', false);
                    $target.hide('slow');
                }
                else if (this.value === '2') {
                    $('#cc-number, #cc-mm, #cc-yy,#cc-cvc').prop('required', true);
                    $target.show('slow');
                }
            });
            Stripe.setPublishableKey('{{ param('stripe.public_key') }}');
            var $form = $('#payment-form');
            $(function () {
                $form.validate({
                    submitHandler: function(form) {
                        if ($("input[type=radio][name=typePaiement]:checked").attr('value') === '1') {
                            form.get(0).submit();
                        }
                        else {
                            form.find('.submit').prop('disabled', true);
                            Stripe.card.createToken($form, stripeResponseHandler);
                            return false;
                        }
                    }
                });
            });
            function stripeResponseHandler(status, response) {
                if (response.error) { // Problem!
                    $('.payment-errors').show('slow');
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('.submit').prop('disabled', false);
                } else {
                    var token = response.id;
                    $form.append($('<input type="hidden" name="stripeToken">').val(token));
                    $form.get(0).submit();
                }
            }
        });
        {#function initMap(){var point_a={lat:{{booking.AD_LAT}},lng:{{booking.AD_LNG}}};var point_b={lat:{{booking.AA_LAT}},lng:{{booking.AA_LNG}}};var map=new google.maps.Map(document.getElementById('mapsDevis'),{center:point_a,scrollwheel:false,zoom:7});var directionsDisplay=new google.maps.DirectionsRenderer({map:map});var request={destination:point_b,origin:point_a,travelMode:google.maps.TravelMode.DRIVING};var directionsService=new google.maps.DirectionsService();directionsService.route(request,function(response,status){if(status==google.maps.DirectionsStatus.OK){directionsDisplay.setDirections(response)}})}google.maps.event.addDomListener(window,'load',initMap);#}
    </script>
{% endblock %}