{% extends 'base.html.twig' %}

{% block card %}
    {% include 'form/reservation.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid text-center mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4">
                <span class="fa fa-5x fa fa-lock"></span>
                <h2>Paiement sécurisé</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna.</p>
            </div>
            <div class="col-lg-4">
                <span class="fa fa-5x fa-wifi"></span>
                <h2>Wi-Fi à bord</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-5x fa-eur"></i>
                <h2>Prix fixe</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
            </div>
        </div>

        <hr class="separator-lg">

        <div class="row featurette">
            <div class="col-md-7 align-self-center">
                <h2>Comment ça marche ?</h2>
                <p class="lead">
                    Le principe est simple, il vous suffit de remplir le formulaire ci-dessus afin de calculer le
                    montant de votre course, si le montant vous convient, cliquez sur "Réservez maintenant" et entrez
                    les informations nécessaires pour la réservation de votre chauffeur privé. Une fois le paiement
                    efféctué vous recevrez un email de confirmation contenant un récapitulatif de votre commande. Le
                    nom, téléphone du chauffeur vtc et l'immatriculation du véhicule vous seront envoyés par email la
                    veille de votre prise en charge de manière automatique.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid mx-auto" src="{{ asset('view/images/volkswagen.png') }}"
                     alt="Generic placeholder image">
            </div>
        </div>

        <hr class="separator-lg">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 align-self-center">
                <h2 class="featurette-heading">Forfaits Aéroports. <span class="text-muted">See for yourself.</span>
                </h2>
                <p class="lead">
                    Votre chauffeur VTC vous assure vos transferts de Paris vers l’aéroport de Roissy CDG dès 49.90
                    €.<br/>
                    Réservation facile. Transfert aéroport moins cher qu'un taxi! Prix fixe, 4 passagers et bagages
                    inclus. Si vous arrivez à l'aéroport de Roissy CDG, votre chauffeur vous récupère au point de rdv et
                    s'occupe de vos sacs et bagages. N'attendez plus et réservez votre chauffeur privé pour vos
                    transferts Paris – Roissy Charles de Gaulle
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid mx-auto w-50" src="{{ asset('view/images/terminal.jpg') }}"
                     alt="Generic placeholder image">
            </div>
        </div>

        <hr class="separator-lg">

        <div class="row featurette">
            <div class="col-md-7 align-self-center">
                <h2 class="featurette-heading">Le Prix est fixe. <span class="text-muted">20% moins cher.</span></h2>
                <p class="lead">
                    Retrouvez les prix de votre chauffeur VTC en berline classe eco ainsi que les préstations fournis
                    par notre société. Réservez un chauffeur privé en berline à prix fixe et sans surprise pour vos
                    transferts depuis et vers l' aéroports Roissy Charles de Gaulle (CDG), d' Orly, et de Beauvais grâce
                    à a réservation en ligne de manière totalement sécurisée. Commandez votre chauffeur 12/24h à
                    l'avance. Plus de stress, vous arrivez à l’heure à l’aéroport ou à votre destination de choix.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid mx-auto w-50" src="{{ asset('view/images/card-bank.jpg') }}"
                     alt="Generic placeholder image">
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/amsul/pickadate/lib/compressed/picker.js') }}"></script>
    <script src="{{ asset('vendor/amsul/pickadate/lib/compressed/picker.date.js') }}"></script>
    <script src="{{ asset('vendor/amsul/pickadate/lib/compressed/picker.time.js') }}"></script>
    <script src="{{ asset('vendor/jquery-validation/jquery-validation/src/core.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key={{ param('key.google') }}"></script>
    <script src="{{ asset('view/js/autoCompletion.js') }}"></script>
    <script>
        $('[data-type="form-validation"]').validate({
            rules: {
                depart: {
                    required: true,
                    minlength: 5
                },
                arrivee: {
                    required: true,
                    minlength: 5
                }
            }
        });
        $('[data-type="datepicker"]').pickadate({
            monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            today: 'aujourd\'hui',
            clear: 'effacer',
            hiddenName: true,
            {% if session.id_em is not defined %}
            min: +1,
            {% endif %}
            formatSubmit: 'dd/mm/yyyy'
        });
        $('[data-type="timepicker"]').pickatime({
            format: 'HH:i',
            formatLabel: 'HH:i',
            formatSubmit: 'HH:i'
        })
    </script>
{% endblock %}