<p><i class="fa fa-map-marker fa-fw w3-margin-right w3-large"></i> A: {{ booking.AD }}</p>
<p><i class="fa fa-map-marker fa-fw w3-margin-right w3-large"></i> B: {{ booking.AA }} </p>
<p><i class="fa fa-calendar fa-fw w3-margin-right w3-large"></i> {{ booking.QUEL_DATE }}</p>
<p><i class="fa fa-clock-o fa-fw w3-margin-right w3-large"></i> {{ booking.QUEL_HEURE }}</p>
<hr>
<p>Distance : {{ booking.KM }} km</p>
<p>Durée : {{ booking.TIME }} min</p>
<hr>
<p><i class="fa fa-car fa-fw w3-margin-right w3-large"></i> {{ booking.CAR }}</p>
<hr>
<p class="w3-large w3-center">{{ booking.PRIX }} € TTC</p>
